#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 270px);
    background-image: url(./navalny.png);
    background-repeat: repeat;
    color: #ffcc00;
}

#about-h{
    height: 200px;
    font-size: 10rem;
}

#collasible-nav-dropdown{
    color: #ffcc00;
}





