#footer{
    height: 200px;
    width: 100vw;
    background-color: #fffff0;
    position: absolute;
    bottom: 0;
}

#footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100vw;
    background-color: #0057b7;
    color: #ffd700;
}

#footer-h{
   font-size: 1.4rem;
   margin: 15px 0 10px 0;
}

#social-links{
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

.social-icon {
    margin: 5px 20px 5px 20px;
    width: 64px;
    height:64px;
}
